<%#@tweets = @tweets.collect{|a| JSON.parse(a)}%>
<%tweets.each_with_index do |tweet, index| %>
    <li class="span9"  style="background-color:lightyellow;">
      <%= tweet["html"].try(:html_safe)%>
    </li>
<%end%>
