
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 side-unit">
	  <a href='/'><%= image_tag "logo.png"%></a>
    </div>
    <div class="span9">
      <div class="hero-unit">
        <h1>
          OMG!! There is a Leader!
        </h1>
		<p style="color:black;">
			Dear Leader, Plaese send me your postal address so we can deliver you a gift!!
		</p>
      </div>
		  <%= image_tag "Gift.jpg"%>
      </div>
  </div>
</div>
